.user_container {
    padding: 20px;

    .user_content {
        padding: 0 20px;
    }

    .ant-select-selection-item {
        font-size: 14px;
    }

    .ant-select-selection-placeholder {
        font-size: 14px;
    }
}
